body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #161748;
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.charmap_entry {
    width: 32px;
    height: 34px;
    font-size: 16px;
}

.charmap_grid input[type=button] {
    font-family: inherit;
}