body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #161748;
    color: #ffffff;
    min-width: 230px;
    max-width: 380px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.charmap_grid input[type=button] {
    width: 27px;
    height: 32px;
    font-size: 16px;
}